<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Контакты</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/contacts.css') }}">
</head>
<body>
	<header class="header">
			<div class="container header__container">
				<div class="header__block">
					<div class="header__back"><a href="ostrova"></a></div>
					<div class="header__title">Контакты</div>
				</div>
				<div class="header__block">
					<div class="header__burger"><span></span></div>
				</div>
			</div>
	</header>
	<div class="menu">
			<div class="container">
				<div class="menu__container">
					<div class="menu__item">
						<div class="menu__button"><a href="https://ski-gv.ru/skipass-info/#popup-open">Пополнить ски-пасс</a></div>
					</div>
					<div class="menu__item">
						<div class="menu__button"><a href="https://ski-gv.ru/rentals/">Прокат снаряжения</a></div>
					</div>
					<div class="menu__item">
						<div class="menu__button"><a href="https://ski-gv.ru/services/">Прочие услуги</a></div>
					</div>
				</div>
			</div>
		</div>
	<div class="contacts">
		<div class="container">
			<div class="contacts__container">
				<div class="contact">
					<div class="contact__text">Информационный центр</div>
					<div class="contact__phone">
						<img src="{{ url_for('static', filename='img/contacts/01.svg') }}" alt="" class="contact__icon">
						<a href="tel:+7(4242)51-11-20">+7 (4242) 51-11-20</a>
					</div>
				</div>
				<div class="contact">
					<div class="contact__text">Приемная</div>
					<div class="contact__phone">
						<img src="{{ url_for('static', filename='img/contacts/01.svg') }}" alt="" class="contact__icon">
						<a href="tel:+7(4242)51-11-20">+7 (4242) 51-11-20</a>
					</div>
					<ul class="contact__list">
						<li>Время работы:</li>
						<li><span>Пн-Пт:</span><span>с 09:00 до 17:00</span></li>
						<li><span>Перерыв:</span><span>с 13:00 до 14:00</span></li>
					</ul>
					<div class="contact__email"><span>Электронная почта:</span><a href="mailto:info@ski-gv.ru">info@ski-gv.ru</a></div>
				</div>
				<div class="contact">
					<div class="contact__text" id="sos">Служба спасателей</div>
					<div class="contact__phone">
						<img src="{{ url_for('static', filename='img/contacts/01.svg') }}" alt="" class="contact__icon">
						<div class="contact__links">
							<a href="tel:+7 984-139-01-84">+7 984-139-01-84</a>
							<a href="tel:+7(4242)51-11-10">+7 (4242) 51-11-10 (доп. 0)</a>
						</div>
					</div>
					<div class="contact__button"><a href="https://ski-gv.ru/infocenter/sos/#">Отправить гео-координаты</a></div>
				</div>
				<div class="contact">
					<div class="contact__text">Мы в социальных сетях</div>
					<div class="contact__socials">
						<a href="https://vk.com/gorny_vozdukh"><img src="{{ url_for('static', filename='img/contacts/02.svg') }}" alt="" class="contact__icon">Горнолыжный комплекс "Горный воздух"</a>
						<a href="https://t.me/gorny_vozdukh"><img src="{{ url_for('static', filename='img/contacts/03.svg') }}" alt="" class="contact__icon">СТК “Горный воздух”</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/burger.js') }}"></script>
</body>
</html>