<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Прокат снаряжения</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/rent.css') }}">
</head>
<body>
	<div class="wrapper">
		<div class="sos">
			<a href="contacts#sos">SOS</a>
		</div>
		<header class="header">
			<div class="container header__container">
				<div class="header__block">
					<div class="header__back"><a href="/"></a></div>
					<div class="header__title">Горный воздух</div>
				</div>
				<div class="header__block">
					<div class="header__notification active"> <!-- add class active -->
						<img src="{{ url_for('static', filename='img/notifications/01.png') }}" class="notify__img" alt=""> <!-- 02 без; 01 active-->
						<div class="header__notify notify">
							<div class="notify__text">{{ notification }} Ссылка на наш чат <a href="https://t.me/ostrova_ski">https://t.me/ostrova_ski</a></div>
						</div>
					</div>
					<div class="header__burger"><span></span></div>
				</div>
			</div>
		</header>
		<div class="menu">
			<div class="container">
				<div class="menu__container">
					<div class="menu__item">
						<div class="menu__button"><a href="https://ski-gv.ru/skipass-info/#popup-open">Пополнить ски-пасс</a></div>
					</div>
					<div class="menu__item">
						<div class="menu__button"><a href="tariffs">Тарифы</a></div>
					</div>
					<div class="menu__item">
						<div class="menu__button"><a href="rent">Прокат снаряжения</a></div>
					</div>
					<div class="menu__item">
						<div class="menu__button"><a href="https://ski-gv.ru/services/">Прочие услуги</a></div>
					<div class="menu__item">
						<div class="menu__button"><a href="https://ski-gv.ru/webcams/">Вебкамеры</a></div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rent">
			<div class="container">
				<div class="rent__container">
					<div class="rent__block">
						<div class="rent__image"><img src="{{ url_for('static', filename='img/rent/01.jpg') }}" alt=""></div>
						<div class="rent__name"><a href="https://ski-gv.ru/rentals/company/3/">Пункт проката "Неваляшка"</a></div>
					</div>
					<div class="rent__block">
						<div class="rent__image"><img src="{{ url_for('static', filename='img/rent/02.jpg') }}" alt=""></div>
						<div class="rent__name"><a href="https://ski-gv.ru/rentals/company/5/">Пункт проката "Чемпион"</a></div>
					</div>
					<div class="rent__block">
						<div class="rent__image"><img src="{{ url_for('static', filename='img/rent/03.jpg') }}" alt=""></div>
						<div class="rent__name"><a href="https://ski-gv.ru/rentals/company/6/">Пункт проката "Кати-Катай"</a></div>
					</div>
					<div class="rent__block">
						<div class="rent__image"><img src="{{ url_for('static', filename='img/rent/04.jpg') }}" alt=""></div>
						<div class="rent__name"><a href="https://ski-gv.ru/rentals/company/7/">Пункт проката "ПоГорам"</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/burger.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/notifications.js') }}"></script>
</body>
</html>