<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Режим работы</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/workmode.css') }}">
</head>
<body>
	<div class="wrapper">
		<div class="sos">
			<a href="contacts#sos">SOS</a>
		</div>
		<header class="header">
			<div class="container header__container">
				<div class="header__block">
					<div class="header__back"><a href="/"></a></div>
					<div class="header__title">Горный воздух</div>
				</div>
				<div class="header__block">
					<div class="header__notification active"> <!-- add class active -->
						<img src="{{ url_for('static', filename='img/notifications/01.png') }}" class="notify__img" alt=""> <!-- 02 без; 01 active-->
						<div class="header__notify notify">
							<div class="notify__text">{{ notification }} Ссылка на наш чат <a href="https://t.me/ostrova_ski">https://t.me/ostrova_ski</a></div>
						</div>
					</div>
					<div class="header__burger"><span></span></div>
				</div>
			</div>
		</header>
		<div class="menu">
			<div class="container">
				<div class="menu__container">
					<div class="menu__item">
						<div class="menu__button"><a href="https://ski-gv.ru/skipass-info/#popup-open">Пополнить ски-пасс</a></div>
					</div>
					<div class="menu__item">
						<div class="menu__button"><a href="tariffs">Тарифы</a></div>
					</div>
					<div class="menu__item">
						<div class="menu__button"><a href="rent">Прокат снаряжения</a></div>
					</div>
					<div class="menu__item">
						<div class="menu__button"><a href="https://ski-gv.ru/services/">Прочие услуги</a></div>
					<div class="menu__item">
						<div class="menu__button"><a href="https://ski-gv.ru/webcams/">Вебкамеры</a></div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modes">
			<div class="container">
				<div class="modes__container">
					<div class="mode">
						<div class="mode__title">Канатная дорога “Запад низ" и "Запад верх"</div>
						<ul class="mode__list">
							<li>Время работы:</li>
							<li><span>Пн-Чт:</span><span>с 16:00 до 21:00</span></li>
							<li><span>Пт:</span><span>с 16:00 до 22:00</span></li>
							<li><span>Сб:</span><span>с 11:00 до 22:00</span></li>
							<li><span>Вс:</span><span>с 11:00 до 21:00</span></li>
						</ul>
					</div>
					<div class="mode">
						<div class="mode__title">Канатная дорога "Юг"</div>
						<ul class="mode__list">
							<li>Время работы:</li>
							<li><span>Сб:</span><span>с 11:30 до 19:00</span></li>
							<li><span>Вс:</span><span>с 11:30 до 19:00</span></li>
						</ul>
					</div>
					<div class="mode">
						<div class="mode__title">Канатная дорога "Красная-север"</div>
						<ul class="mode__list">
							<li>Время работы:</li>
							<li><span>Сб:</span><span>с 12:00 до 18:00</span></li>
							<li><span>Вс:</span><span>с 12:00 до 18:00</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/burger.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/notifications.js') }}"></script>
</body>
</html>